{% extends 'base.html' %}

{% block body %}
<form method="POST">
            <div class="input-group mb-3 input-group-lg container">
                <input type="url" id="url" class="form-control" placeholder="Enter URL"
                       aria-label="Recipient's username" aria-describedby="basic-addon2" name="url">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary raw-input" id="shorten_url" > Shorten </button>
                </div>
            </div>
</form>
{% endblock %}